h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
     text-decoration: none;
}
.list {
list-style-type:none ;
}
body{
font-family: 'Roboto', sans-serif;
color:#434455; 
background: #FFFFFF;
}
button{
cursor: pointer;
}
.page-heder{ 
    border-bottom: 1px solid #e7e9fc;
}
img{
    display: block;
}
.logotype{
font-family:'Raleway', sans-serif;
margin-right: 76px;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase ;
color: #4d5ae5
}
.color{
  color:  #2E2F42;
}
.container{
    width: 1158px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header-container{
display: flex;
}
.menu{
display: flex;
gap: 40px;
}
.page-navigation{
display: flex;
align-items: center;
}
.menu-link{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding-top:24px;
padding-bottom:24px;
display: block;
}
.menu-link:hover,
.menu-link:focus {
color: #404BBF;
}
.text-address{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
padding-top:24px;
padding-bottom:24px;
display: block;
}
.head-address{
    font-style: normal;
    align-items: center;
    margin-left: auto; 
    
}
.social-list{
display: flex;
gap: 40px;
margin-left: auto;
}
.text-address:hover,
.text-address:focus{
color:#404BBF;
}
.finish{
    margin-right: 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*SECTION HERO*/


.text-maine{
background-color: #2E2F42;
padding-top: 188px;
padding-bottom: 188px;
}

.main-item-h{
    font-family:'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin-left:auto ;
    margin-right:auto ;
    margin-bottom: 48px;
   }
button{
background: #4D5AE5;
}
button:hover,
button:focus{
background-color: #404BBF;  
}
.text-button{
font-family: "Roboto",sans-serif; 
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
margin-left:auto ;
margin-right:auto ;
}



/*SECTION TWO*/

.benefits{
    padding-top: 120px; 
    padding-bottom:120px;
    margin-right: 0;
}
.benefits-list{
display: flex;
gap:24px;
 }
.benefits-list-item{
width:calc((100% - 72px) /4);
gap: 24px;
margin-right: 0;
}
.benefits-list-title{
    margin-bottom: 8px;
}

.text-three{
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
}
.text-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }


/*SECTION THREE*/


.column-list{
display:flex;
border-radius: 0px 0px 4px 4px;
gap: 24px;
}
.team-item-list {
    width: calc((100% - 72px) /4);
    margin-right: 0;
    display: block;
}
.color-team{
border-radius: 0px 0px 4px 4px;  
}

.container-team{
margin-bottom: 72px;
} 
.team-personal{
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-name{
    text-align: center;
    margin-bottom: 8px;
}

.section-our{
    padding-top:120px ;
    padding-bottom:120px ;
}
.our-team-title{
text-align: center;
background-color: #F4F4FD;
}
.paragraf-prof{
    text-align: center;
}


/*PORTFOLIO*/

.section-porf{
text-align: center; 
}

.port-img{
    display: block;
    }
    
.team-name-two{
    text-align: left;
    margin-bottom: 8px; 
}
.portfolio-column{
padding-top: 120px;
padding-bottom: 120px;
}

.port-border{
    padding: 32px 16px;
    border: 1px solid  #e7e9fc;
    border-top: none;
}

.list-class-portfolio{
    display:flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    text-align: center;
}
.wrap-list{
     flex-wrap: wrap;
    }
 .two-team{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.two-team-iteam{
margin-bottom: 72px;
}
.text-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    margin-bottom: 8px;  
}
.paragraf-prof{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}
.paragraf-prof-class{
    text-align: left;
}


/*FOOTER*/

.color-team{
background-color: #FFFFFF;
}

.class-footer-one{
display: inline-block;
margin-bottom: 16px;
}
.background-foot{
    background-color: #2e2f42;
}
.paragraf-foot{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        text-align: left;
        max-width: 264px;
    }
    .color-text-foot{
        color: #F4F4FD;
    }
.footer-column{
    padding-top: 100px;
    padding-bottom: 100px;
    }
    .logotype-footer{
        font-family:'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase ;
        color: #4d5ae5
    }